/* select option styles */

.option{
  display: flex;
  background-color: white;
  line-height: 25px;
  padding-right: 15px;
  font-size: 14px;
  border-radius: 0;
}

.option:hover{
  box-shadow: inset 0px 0px 4px rgb(173,102,102);
}

.option.visible{
  visibility: visible;
  opacity: 1;
  height: 25px;
}

.option.hidden{
  visibility: hidden;
  opacity: 0;
  height: 0px;
}

.option.revealing{
  height:25px;
  opacity: 1;
  animation-duration: 0.75s;
  animation-name: opening;
}

.option.hiding{
  height:0;
  opacity:0;
  animation-duration: 0.75s;
  animation-name: closing;
}

@keyframes opening {
  from {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: 25px;
    opacity: 0;
  }
  to {
    height: 25px;
    opacity: 1;
  }
}

@keyframes closing {
  from {
    height:25px;
    opacity:1;
  }
  50% {
    height:25px;
    opacity:0;
  }
  to {
    height:0px;
    opacity:0;
  }
}

/* first and last options always have parent's border radius */
.option:first-child{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.option:last-child{
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

/* icon styles */
.option:before{
  display: block;
  box-sizing: border-box;
  width: 30px;
  padding: 0 5px 0 10px;
  margin-right: 10px;
  line-height: 25px;
  text-align: center;
  border-right: 0px;
  content: '';
}


.select.closed .option.selected{
  border-radius: inherit;
}

.option.selected:before{
  font-size: inherit;
  content: '✓';
}

.select.closed .option.selected:before{
  border-right: 1px solid #d0d0d0;
  font-size: 20px;
  content: '\2304';
}
